# Global
.env
docker-compose.override.yml

#Proxy Stack
proxy/traefik/ssl/**
proxy/traefik/conf/traefik.toml
!proxy/traefik/ssl/ca/.gitkeep
!proxy/traefik/ssl/certs/.gitkeep
!proxy/traefik/ssl/private/.gitkeep

# Storage Stack
storage/ftp/upload
storage/redis/data/*
!storage/redis/data/
!storage/redis/data/default.txt

# Elastica Stack
elastic/logstash/pipeline/logstash.conf
elastic/logstash/pipeline/logstash.yml
app/symfony/**
!app/symfony/.env.dist
!app/symfony/docker
!app/symfony/templates/index.html.twig
!app/symfony/src/Controller/DefaultController.php

# App Stack
app/symfony/**
!app/symfony/.env.dist
!app/symfony/docker
!app/symfony/templates/index.html.twig
!app/symfony/src/Controller/DefaultController.php

# Devops Stack
devops/ansistrano/conf/hosts
devops/ansistrano/playbooks/symfony/hosts.ini
devops/ansistrano/playbooks/symfony/deploy.retry
