.env
docker-compose.override.yml
traefik/ssl/*
traefik/conf/traefik.toml
!traefik/ssl/certs/.gitkeep
!traefik/ssl/private/.gitkeep
storage/ftp/upload
storage/redis/data/*
!storage/redis/data/
!storage/redis/data/default.txt
elastic/logstash/pipeline/logstash.conf
elastic/logstash/pipeline/logstash.yml
