version: '3.7'

services:
#  portainer:
#    restart: always
#
#  traefik:
#    restart: always

  adminer:
    environment:
      - ADMINER_DESIGN=rmsoft

  php:
    environment:
      - APP_ENV=${SYMFONY_APP_ENV}
      - APP_SECRET=${SYMFONY_APP_SECRET}
