#Listen 443 # ports.conf
<VirtualHost *:443>
    ServerName ${NAMESERVER}
    ServerAlias www.${NAMESERVER}

    DocumentRoot /var/www/html/public

    Protocols h2 http/1.1

    # Canonical URL
    #<If "%{HTTP_HOST} != 'www.localhost'">
    #    Redirect permanent "/" "https://www.localhost/"
    #</If>

    SSLEngine on
    SSLCertificateKeyFile "/etc/ssl/private/${NAMESERVER}.key.pem"
    SSLCertificateFile "/etc/ssl/certs/${NAMESERVER}.cert.pem"
    SSLCACertificateFile "/etc/ssl/certs/intermediate.cert.pem"

    # intermediate configuration
    # https://mozilla.github.io/server-side-tls/ssl-config-generator/
    SSLProtocol             all -SSLv3
    SSLCipherSuite          ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS
    SSLHonorCipherOrder     on
    SSLSessionTickets       off

    # https://symfony.com/doc/current/setup/web_server_configuration.html
    <Directory /var/www/html/public>
        Options -Indexes +FollowSymLinks -MultiViews
        Require all granted
        AllowOverride None
        DirectoryIndex index.php

        RewriteEngine On
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteRule ^(.*)$ index.php [QSA,L]
    </Directory>

    <Directory /var/www/html/public/bundles>
        RewriteEngine Off
    </Directory>

    ErrorLog ${HTTPD_LOG_DIR}/error.log
    CustomLog ${HTTPD_LOG_DIR}/access.log combined
</VirtualHost>
